:root {
    --primary-color: #4a4e69;
    --secondary-color: #9a8c98;
    --accent-color: #c9ada7;
    --text-color: #f2e9e4;
    --nav-height: 60px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--nav-height);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding-left: 20px;
}

.logo {
    height: 40px;
    width: auto;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--accent-color);
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input-group {
    display: flex;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.search-icon {
    background: var(--secondary-color);
    border: none;
    padding: 8px;
    cursor: pointer;
    color: var(--text-color);
    transition: background 0.3s;
}

.search-icon:hover {
    background: var(--accent-color);
}

.user-section {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logout-button {
    margin-left: 8px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    transition: color 0.3s;
}

.logout-button:hover {
    color: var(--accent-color);
}

.navbar-actions {
    display: flex;
    align-items: center;
    margin-right: 40px;
    /* Adjust this to shift left */
}

@media (max-width: 768px) {

    .navbar-links,
    .search-bar {
        display: none;
    }

    .navbar-brand,
    .user-section {
        flex: 1;
        justify-content: center;
    }

    .navbar {
        flex-direction: column;
        height: auto;
    }

    .logo {
        margin-top: 10px;
    }
}