.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button-container {
  align-self: flex-start;
  /* Align back button to the left */
  margin-bottom: 20px;
  /* Add space below the back button */
}

.content-layout {
  width: 100%;
  max-width: 1200px;
  /* Adjust max-width for wider layout */
  margin-top: 20px;
}

/* .blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
} */

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Include media queries to adjust layout on smaller screens */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }
}